@import url('https://fonts.googleapis.com/css?family=Gruppo&display=swap');
*{
    font-family: 'Gruppo', cursive;
    font-size: 22px;
}
h1{
    color:white;
}
.time{
    background-color: rgb(196, 98, 0);
    border: 1px solid black;
    color:white;
}
.blink{
    background-color: rgb(196, 98, 0);
    border: 1px solid black;

    animation-name:blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;  
}
@keyframes blink{
    from{
        color:rgb(196, 98, 0)

    }
    to{
        color:white;

    }
}
.container_horaires{
    display:flex;
    margin-left:50%;
    transform: translate(-50%);
    justify-content: center;
}

video{
    z-index:-100;
}
.background{
    position:absolute;
    z-index:100;
    background-color: rgba(255,255,255,0.7);
    padding:1%;
    width:70%;
    margin-left:50%;
    transform: translate(-50%);
    border-radius:10px;
    box-shadow: 1px 1px 1px black;
}
.allerhoraire{
    padding:5%;
}
.retourhoraire{
    padding:5%;
}
.intersection{
    width:50%;
    margin-left:50%;
    transform: translate(-50%);
    border:2px black solid;
    margin-bottom: 2%;
}
.container_horaires_default{
    display:flex;
    margin-left:50%;
    transform: translate(-50%);
    justify-content: center;
}
