.container_horaires{
    display:flex;
    margin-left:50%;
    transform: translate(-50%,50%);
}
.allerhoraire{
    padding:5%;
}
.retourhoraire{
    padding:5%;
}
.intersection{
    width:50%;
    margin-left:50%;
    transform: translate(-50%);
    border:2px black solid;
    margin-bottom: 2%;
}