
<div class="background">
    <h1>{{title}}</h1>

  <h2>Mairie de montrouge</h2>
<div class="container_horaires_default">
  <div class="allerhoraire">
    <p>Direction: {{directionAllerDefault}}</p>
  <p *ngFor="let horaireallerdefault of horaireAllerDefault" class="time">{{horaireallerdefault.message}}</p>
  </div>
  <div class="retourhoraire">
    <p>Direction: {{directionRetourDefault}}</p>
  
  <p *ngFor="let horaireretourdefault of horaireRetourDefault" class="time">{{horaireretourdefault.message}}</p>
  </div>
  </div>
<div class=intersection></div>
<label for="choix_ligne">Station de départ: </label>
<select name="choix_ligne" id="choix_ligne" (focus)="getLines()" >
  <option value="">Choisissez votre ligne</option>
  <option *ngFor="let lignes of lignes" (click)="getStations($event.target.value)" >{{lignes.name}}</option>
</select>
<select name="choix_stations" id="choix_stations">
  <option value="">Choisissez votre station</option>
  <option *ngFor="let stations of stations" (click)="getHoraires($event.target.value)" >{{stations.name}}</option>
</select>
<div class="container_horaires">
<div class="allerhoraire">
  <p>Direction: {{directionAller}}</p>
<p *ngFor="let horairealler of horaireAller" class="time">{{horairealler.message}}</p>
</div>
<div class="retourhoraire">
  <p>Direction: {{directionRetour}}</p>

<p *ngFor="let horaireretour of horaireRetour" class="time">{{horaireretour.message}}</p>
</div>

</div>

</div>
<video src="assets/Tube.mp4" autoplay loop mute></video>


<router-outlet></router-outlet>